nav>ul>li{
text-align: center;
display: inline;
margin-right: 20 px;

}
nav> ul{
text-decoration: none;
text-align: center;
}
footer{
    text-align: center;
    margin-top: 40px;

}

section>h3{
    text-align: center;
    display: flexbox;
}